@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import  url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/

/* DAQUI PARA BAIXO É A NAVBAR
OBS: Algumas coisas só irao funcionar se tiver o link do bootstrap no head*/
header{
    display: flex;
    align-items: center;
    background-color: #D62828;
    justify-content: space-between;
    color: white;
}

#cosmakersquad{
    font-family :'Pacifico' ,cursive;
    text-decoration: none;
    color: white;
}

.container-menu a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.container-menu a:hover{
    color: #EAE2B7;
}

#logomenu{
    display: flex;
    justify-content: left;
    font-size: 28px;
    margin: 10px;
}

.container-menu{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    padding-bottom: 15px;
    align-items: center;

}

.container-menu a{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 5px;
}
/*AQUI TERMINA A NAVBAR*/


.primeiro-rodape {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e7e7e7;
    width: 100%;
    padding: 15px 0px;

}

#linha-vertical {
    height: 220px;
    border: 0.1px solid;
}

.rodape-coluna {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: transparent;
    height: 200px;
    width: 480px;
}

.linha-horizontal {
    margin: 0px;
    width: 260px;
    border: 0, 5px solid #000;
}

.social-links, .paragrafo-coluna,h5 {
    margin: 3.5px;
}

#rodape-final {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    background-color: #003049;
    height: 110px;
}

.rodape-coluna a {
    text-decoration: none;
    color: black;
}

.social-links {
    display: flex;
}

.social-links i {
    margin-right: 10px;
}
/* Aqui começa a página da Nossa Equipe*/
.espaco{
    text-align: center;
    height: 40px;
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    
}

.main{
    display: flex;
}


.perfil1, .perfil2, .perfil3, .perfil4, .perfil5 {
    margin: 20px;
    margin-left: 2%;
   
    

}
.perfil3{
    margin-left: 0%;
    margin-right: 0%;
}
img {
    height: 190px;
    width: 190px;
    border-radius: 10%;
    display: flex;
    
}
/* Aqui termina a página da Nossa Equipe*/

/* Aqui começa o rodapé da página*/

footer {
    margin-top: 3em;
}

#rodape-final {
    margin-top: -0.6em;
}

p{
    color: #ffffff;
}

h2{
    color: #ffffff;
}

.paragrafo-coluna{
    color: #000000;
}


/* Aqui termina o rodapé da página*/
