@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: #D62828;
    justify-content: space-between;
    color: white;
}

#cosmakersquad {
    text-decoration: none;
    color: white;
    font-family: 'Pacifico', cursive;
}

.container-menu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.container-menu a:hover {
    color: #EAE2B7;
}

#logomenu {
    display: flex;
    justify-content: left;
    font-size: 28px;
    margin: 10px;
}

.container-menu {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    padding-bottom: 15px;
    align-items: center;

}

.container-menu a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 5px;
}

.formu {
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 1px 1px 4px black;
    background-color: white;
}

#nome,
#sobrenome,
#email,
#tel,
#cep1,
#endereco1,
#bairro1,
#cidade1,
#estado1,
#num {
    margin-left: 50px;
    max-width: 300px;
}

.nCep {
    margin-left: 50px;
}

.data {
    width: 300px;
    height: 60px;
    border-radius: 8px;
    border: #d8d8d8 solid;
}

#caixaComent {
    margin-left: 140px;
    margin-right: 50px;
    height: 90px;
    padding-bottom: 20px;
}

#escArq {
    margin-left: 90px;
    padding-right: 100px;
}

#date,
#source {
    margin-left: 61px;
    color: #0b0808;
}

#source {
    margin-left: 115px;
}

#nasc {
    margin-left: 50px;
    display: inline-flex;
    width: 300px;
    margin-bottom: 25px;
}

.primeiro-rodape {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e7e7e7;
    width: 100%;
    padding: 15px 0px;

}

#linha-vertical {
    height: 220px;
    border: 0.1px solid;
}

.rodape-coluna {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: transparent;
    height: 200px;
    width: 480px;
}

.linha-horizontal {
    margin: 0px;
    width: 260px;
    border: 0, 5px solid #000;
}

.social-links,
.paragrafo-coluna,
h5 {
    margin: 3.5px;
}

#rodape-final {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    background-color: #003049;
    height: 110px;
}

.rodape-coluna a {
    text-decoration: none;
    color: black;
}

#clique-aqui {
    text-decoration: underline;
    color: blue;
}

.social-links {
    display: flex;
}

.social-links i {
    margin-right: 10px;
}

.perfil1,
.perfil2 {
    display: inline-block;
    margin-left: 28em;

}

.perfil3
{
    display: inline-block;
    margin-left: 28em;
}

.perfil4{
    display: inline-block;
    margin-left:21em
}

.perfil5{
    display: inline-block;
    margin-left:52em
}

.perfil1, .perfil2, .perfil3, .perfil4, .perfil5 {
    margin-top: 3em;
    
}

footer {
    margin-top: 3em;
}

#rodape-final {
    margin-top: -0.6em;
}

p{
    color: #ffffff;
}

h2{
    color: #ffffff;
}

.paragrafo-coluna{
    color: #000000;
}