@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"); /*BOOTSTRAP*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); /* FONTE DA LOGO*/

*{
    margin: 0;
    padding: 0;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/

/* DAQUI PARA BAIXO É A NAVBAR
OBS: Algumas coisas só irao funcionar se tiver o link do bootstrap no head*/
header{
    display: flex;
    align-items: center;
    background-color: #D62828;
    justify-content: space-between;
    color: white;
    width: 100%;
    position: fixed;
}

#cosmakersquad{ /*LOGO DO CABEÇALHO*/
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    color: white;
}

.container-menu a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.container-menu a:hover{
    color: #EAE2B7;
}

#logomenu{
    display: flex;
    justify-content: left;
    font-size: 28px;
    margin: 10px;
}

.container-menu{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    padding-bottom: 15px;
    align-items: center;
}

.container-menu a{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 5px;
}
/*AQUI TERMINA A NAVBAR*/

/*//////////////////////////////////////////////////////////////////////////////////////////////*/

/* DAQUI PARA BAIXO É O RODAPÉ*/
.primeiro-rodape{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #e7e7e7;
    width: 100%;
    padding: 15px 0px;
    
}

#linha-vertical{
    height: 220px;
    border: 0.1px solid;
    margin-left: 2rem;
}

.rodape-coluna{
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: transparent;
    height: 200px;
    width: 480px;
    margin-left: 2rem;
}

.linha-horizontal{
    margin: 0px;
    width: 260px;
    border: 0,5px solid #000;
}

.social-links, .paragrafo-coluna, h5{
    margin: 3.5px;
}

#rodape-final{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    background-color: #003049;
    height: 110px;
}

.rodape-coluna a{
    text-decoration: none;
    color: black;
}

#clique-aqui{
    text-decoration:underline;
    color: blue;
}

.social-links{
    display: flex;
}

.social-links i{
    margin-right: 10px;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////*/
.secao-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

.banner{
    width: 100%;
    height: auto;
    margin-top: 3rem;
    background-image: url(../img/chapeleiro-apontando.jpg);
    background-size: 100% 100%;
}

#logo-slogan{
    width: 40%;
    display: flex-box;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    margin-top: 2rem;
}

#logo-slogan h1{
    font-size: 4.5rem;
    margin-bottom: 1rem;
    font-family: 'Pacifico', cursive;
    text-shadow:#e7e7e7 2px 2px 3px;
}

#logo-slogan h3{
    font-size: larger;
    margin-bottom: 1.5rem;
    text-shadow:#e7e7e7 2px 2px 3px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content:center;
    text-align: center;
    width: 100%;
    height: auto;
}

.conteudo p, .conteudo h2, .botoes-secao1{
    width: 40%;
    margin: 0.6rem;
}

#paragrafo-banner{
    font-size:large;
}

#cta{
    font-size: larger;
}

